.heading{
    display: flex;
    justify-content: center;
}

.add-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-book{
    width: 200px;
}

button {
    border-radius: 15px;
    padding: 10px;
}

.card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 15px;
    padding: 20px;
    border: 1px solid red;
}

.card{
    border: 1px solid blue;
    background-color:rgb(233, 195, 195)
    /* background-color: salmon; */
}

::backdrop {
    background-image: linear-gradient(
      45deg,
      magenta,
      rebeccapurple,
      dodgerblue,
      green
    );
    opacity: 0.75;
  }

  dialog:open {
    display: flex;
    flex-direction: column;
  }

  form{
    display: flex;
    flex-direction: column;
  }

  label{
    padding: 5px 0px 5px 0px;
  }

  .submit-book{
    margin-top: 10px;
  }

  .button-card-container{
    display: flex;
    justify-content: space-between;
  }

  .book-details > p {
    padding: 5px;
    margin-left: 10px;
  }

  .unread,
  .read,
  .delete{
    width: 115px;
    margin: 10px;
    background-color: rgb(59, 221, 59);
  }

  .unread,
  .delete {
    background-color: rgba(255, 0, 255, 0.651);
  }

